@font-face {
    font-family: "circular_bold";
    src: url(circular-book/lineto-circular-pro-bold.ttf);
}

@font-face {
    font-family: "circular_book";
    src: url(circular-book/lineto-circular-pro-book.ttf);
}

@font-face {
    font-family: "circular_book_italic";
    src: url(circular-book/lineto-circular-pro-bookItalic.ttf);
}

@font-face {
    font-family: "circular_medium";
    src: url(circular-book/lineto-circular-pro-medium.ttf);
}

@font-face {
    font-family: "circular_medium_italic";
    src: url(circular-book/lineto-circular-pro-mediumItalic.ttf);
}

*, *:after, *:before {
    box-sizing: border-box;
}

.cicular-bold {
    font-family: "circular_bold";
}
.cicular-book {
    font-family: "circular_book";
}
.cicular-bookI {
    font-family: "circular_book_italic";
}
.cicular-medium {
    font-family: "circular_medium";
}
.cicular-mediumI {
    font-family: "circular_medium_italic";
}

body {
    font-family: "circular_book";
    margin:0px;
}

div.stanza {
    margin: 2em 0em;
}

.title {
    color: #173a9e;
    text-shadow: 1px 1px 15px #FFF, 1px 1px 15px #FFF, 1px 1px 15px #FFF, 1px 1px 15px #FFF;
}

p.line {
    margin: 0px;
    padding: 0px;
}

p.line:last-child {
    margin-bottom: 1em;
}

p.line:first-child {
    margin-top: 1em;
}

li {
    counter-increment: li;
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

ol {
    list-style: none; counter-reset: li;
    width: 75%;
}

ol li::before {
    content: counter(li); 
    color: red;
    display: inline-block; 
    width: 1em; 
    margin-left: -1.5em;
    margin-right: 0.5em; 
    text-align: right; 
    direction: rtl;
    font-size: 1.3em;
}
.song {
    text-align: center;
    text-align: -webkit-center;
    font-size: 1.5em;  
}

.chorus {
    font-family: "circular_bold";
    color: teal;
}

.non-chorus {
    color: white;
    font-family: "circular_book";
}

#ise_the_by_song {
    background-image: url(pictures/ise_the_by.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.action-bar {
    font-size: 5em;
    height: 10vh;    
    background: black;
    text-align: center;
    border-top: 2px solid white;
}

button.activate {
    width: 100vw;
    height: 20vw;
    font-size: -webkit-xxx-large;
}

.song {
    color: white;
    text-shadow: 1px 1px 15px #000, 1px 1px 15px #000, 1px 1px 15px #000, 1px 1px 15px #000;
    width: 100vw;
    height: 90vh;    
    padding-bottom: 1em;
    padding-top: 1em;
    overflow: scroll;
}

.info {
    width: 75%;
    font-size: 2em;
    border-top: 1px solid;
}

.cbutton {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    border: none;
    background: none;
    color: #286aab;
    font-size: 1.4em;
    overflow: hidden;
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton.cbutton--click,
.cbutton:focus {
    outline: none;
    color: rgba(80, 177, 208, 1);;
}

.cbutton__icon {
    display: block;
}

.cbutton__text {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.cbutton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}

.cbutton--effect-tamara::after {
    box-shadow: 0 0 0 3px rgba(40, 106, 171, 0.5);
}

.cbutton--effect-tamara.cbutton--click::after {
    -webkit-animation: anim-effect-tamara 0.5s ease-out forwards;
    animation: anim-effect-tamara 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-tamara {
    0% {
        box-shadow: 0 0 0 3px rgba(111,148,182,0.3);
        opacity: 1;
        -webkit-transform: scale3d(0.6, 0.6, 1);
        transform: scale3d(0.6, 0.6, 1);
    }
    100% {
        box-shadow: 0 0 0 100px rgba(111,148,182,0);
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-effect-tamara {
    0% {
        box-shadow: 0 0 0 3px rgba(111,148,182,0.7);
        opacity: 1;
        -webkit-transform: scale3d(0.6, 0.6, 1);
        transform: scale3d(0.6, 0.6, 1);
    }
    100% {
        box-shadow: 0 0 0 90px rgba(111,148,182,0);
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}